
//@theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"

//@theme "/home/onecoldcanuck/.local/share/rofi/themes/catppuccin-mocha.rasi"
//@theme "/home/onecoldcanuck/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
